Django==2.0.7
Pillow==8.2.0
AIML==0.8.6
South==1.0.2
django-ajax-selects==1.7.0
docutils==0.12
gunicorn==19.9.0
html5lib==0.999
httplib2==0.8
keyring==3.5
oauth==1.0.1
oauthlib==0.6.1
paramiko==2.4.1
pep8==1.7.0
pexpect==3.1
piston-mini-client==0.7.5
ply==3.4
progressbar==2.3
protobuf==2.5.0
psycopg2==2.4.5
pyOpenSSL==0.13
pycparser==2.10
pycrypto==2.6.1
pycurl==7.19.3
pyflakes==1.2.0
python-dateutil==1.5
reportlab==3.0
requests==2.2.1
simplejson==3.3.1
six==1.5.2
urllib3==1.7.1
virtualenv==15.0.1
wadllib==1.3.2
wheel==0.24.0
wsgiref==0.1.2
zope.interface==4.0.5
tablib==0.12.1
requests==2.10.0
